NEXT_PUBLIC_SUPABASE_URL=https://gldtjiofbokiqcordale.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_NI4uOG1iJzYePwJn9iKV_Q_HLUCg9n9
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=fan-hero-captures
MUAPI_API_KEY=
FOOTBALL_DATA_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
